*{
    padding: 0;
    margin: 0;
}
header h1{
    text-align: center;
    padding:10px ;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(129, 122, 122);
    color: white;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
form input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;

}
button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    border: 2px solid black;
}
table{
    width: 300px;
    margin: 30px auto;
    text-align: center;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid white;
    padding: 8px;
    background-color: rgb(89, 89, 100);
    color: white;
}
#media h2{
    display: flex;
    justify-content: center;
}

.resultado {
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-left: 15px; /
}

.aprovado {
    background-color: #28a745; /* Verde */
}
.reprovado {
    background-color: #dc3545; /* Vermelho */
}

@media screen and (max-width: 768px) {
        
    
}